In [52]:
import cudf as gpu_pd
import pandas as pd

METADATA_STAT_COLUMNS = [
    'user_id',
    'session_30_raw',
    'cum_session_time_raw',
    'date_time',
]

In [67]:
df = gpu_pd.read_parquet('rl_ready_data/files_used_30/rl_ready_data.parquet')
df_original = gpu_pd.read_parquet('calculated_features/files_used_30.parquet')
print(df_original.isna().sum())

index                            0
project_id                       0
date_time                        0
session_5_count                  0
session_30_count                 0
session_terminates_30_minutes    0
country                          0
user_id                          0
country_count                    0
timestamp_raw                    0
date_hour                        0
date_hour_sin                    0
date_hour_cos                    0
cum_session_event_count          0
delta_last_event                 0
cum_session_time_minutes         0
expanding_click_average          0
cum_platform_time_minutes        0
cum_platform_events              0
cum_projects                     0
average_event_time               0
rolling_session_time             0
rolling_session_events           0
rolling_session_gap              0
session_event_count              0
session_time_minutes             0
session_30_raw                   0
global_session_time_minutes      0
global_events_user               0
cum_session_event_raw            0
cum_platform_event_raw           0
session_30_count_raw             0
cum_session_time_raw             0
year                             0
month                            0
day                              0
hour                             0
minute                           0
dtype: int64

user_id                                0
session_30_raw                         0
cum_session_event_raw                  0
prediction                             0
session_terminates_30_minutes    5599680
cum_session_time_raw             5599680
cum_platform_event_raw           5599680
global_events_user               5599680
global_session_time_minutes      5599680
date_time                        5599680
country_count                    5599680
timestamp_raw                    5599680
date_hour_sin                    5599680
date_hour_cos                    5599680
session_5_count                  5599680
session_30_count                 5599680
cum_session_event_count          5599680
delta_last_event                 5599680
cum_session_time_minutes         5599680
expanding_click_average          5599680
cum_platform_time_minutes        5599680
cum_platform_events              5599680
cum_projects                     5599680
average_event_time               5599680
rolling_session_time             5599680
rolling_session_events           5599680
rolling_session_gap              5599680
session_event_count              5599680
dtype: int64

In [59]:
exp_df = df[METADATA_STAT_COLUMNS]
sample_session = exp_df[exp_df['session_30_raw'] > 1].sample(1)
sample_user, sample_session = sample_session['user_id'].values[0].item(), sample_session['session_30_raw'].values[0].item()
sample_df = exp_df[(exp_df['user_id'] == sample_user) & (exp_df['session_30_raw'] == sample_session)]
sample_df = sample_df.sort_values(by=['date_time'])
selection = sample_df[['user_id', 'session_30_raw', 'cum_session_time_raw']].groupby(['user_id', 'session_30_raw']).agg({'cum_session_time_raw': ['max']})

In [60]:
selection = sample_df[['user_id', 'session_30_raw', 'cum_session_time_raw']].groupby(['user_id', 'session_30_raw']).agg({'cum_session_time_raw': ['max']})

In [61]:
selection

                          cum_session_time_raw
                                           max
user_id    session_30_raw
33269352.0 6.0                           70.05

In [62]:
sample_df

             user_id  session_30_raw  cum_session_time_raw           date_time
34434322  33269352.0             6.0              0.000000 2022-07-18 23:56:17
34434324  33269352.0             6.0              0.033333 2022-07-18 23:56:19
34434326  33269352.0             6.0              0.100000 2022-07-18 23:56:23
34436293  33269352.0             6.0              0.166667 2022-07-18 23:56:27
34442595  33269352.0             6.0              5.100000 2022-07-19 00:01:23
...              ...             ...                   ...                 ...
34447189  33269352.0             6.0             69.816667 2022-07-19 01:06:06
34447191  33269352.0             6.0             69.850000 2022-07-19 01:06:08
34440625  33269352.0             6.0             69.916667 2022-07-19 01:06:12
34440627  33269352.0             6.0             69.966667 2022-07-19 01:06:15
34440631  33269352.0             6.0             70.050000 2022-07-19 01:06:20

[708 rows x 4 columns]